extends layoutHome

block content

	header.intro
		.intro-body
			.container
				.row
					.col-md-8.col-md-offset-2
						h1.brand-heading= title

						p.intro-text A free, responsive and modern way to make polls

						a.btn.btn-xl.page-scroll(href="#main")
							span.glyphicon.glyphicon-menu-down

	section.container#main
		.row
			if error
				b Error : #{error}
			else
				.stats
					p #{totalNumberOfPolls} polls have been created in total.
					p #{numberOfPollsCreatedThisWeek} polls have been created in a week.
					p #{numberOfPollsStillOpen} polls are still open.
			br

	footer.footer.container-fluid
		p Pollock 2015 -
			a(href="https://edri.github.io/Pollock/") Github
