extends layout

block content
	.bg.container-fluid
		h1= title
		br

		if error
			b Error : #{error}
		else
			.stats
				h3 #{totalNumberOfPolls} polls have been created in total.
				h3 #{numberOfPollsCreatedThisWeek} polls have been created this week.
				h3 #{numberOfPollsStillOpen} polls are still open.
		br

		h2 Coming soon !
